<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <title>MyWeatherApplication</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>
<body>
  <div th:replace="~{components/header-component}"></div>
  <div class="container-header">
    <div th:each="loc : ${data}">
      <div th:replace="~{/components/card-component}"></div>
    </div>
  </div>
</body>
</html>
