<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <title>MyWeatherApplication</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>
<body>
  <div th:replace="~{components/header-component}"></div>
  <div class="container-header">
    <div th:each="loc : ${data}">
      <div th:text="${loc.getName()}"></div>
      <div th:text="${loc.getDt()}"></div>
      <div th:text="${loc.getWeather()}"></div>
      <form th:action="@{/search}" method="post">
        <input type="hidden" name="latitude" th:value="${loc.getCoord().getLat()}">
        <input type="hidden" name="longitude" th:value="${loc.getCoord().getLon()}">
        <input type="submit" value="Add">
      </form>
    </div>
  </div>
</body>
</html>
