<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>MyWeatherApplication</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="~{/components/header-component}"></div>
    <div class="container-header">
        <div th:each="loc : ${data}">
            <div th:replace="~{/components/card-component}"></div>
            <form th:action="@{/weather}" method="post">
                <input type="hidden" name="latitude" th:value="${loc.getKey().latitude()}">
                <input type="hidden" name="longitude" th:value="${loc.getKey().longitude()}">
                <input type="submit" value="Delete">
            </form>
        </div>
        <p th:text="${error}"></p>
    </div>
<!--    <div th:replace="~{footer-component}">Копышовы</div>-->
</body>
</html>


