<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>MyWeatherApplication</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="~{/components/header-component}"></div>
    <div class="container-header">
        <div th:each="loc : ${locations}">
            <div th:text="${loc.getName()}"></div>
        </div>
    </div>
<!--    <div th:replace="~{saved-component}">Тег отражается если сохранены города</div>-->
<!--    <div th:replace="~{footer-component}">Копышовы</div>-->
</body>
</html>


