<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <title>MyWeatherApplication</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{css/registration.css}">
</head>
<body>
<form action="login" method="post">
  <table>
    <tr>
      <td>Login:</td>
      <td><label>
        <input type="text" name="username" required>
      </label></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><label>
        <input type="password" name="password" minlength="1" required>
      </label></td>
    </tr>
    <tr>
      <td><label>
        <input type="checkbox" name="rememberMe" value="true">
      </label>Remember Me
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td><input type="submit" value="Registration"></td>
      <td>
        <a th:href="@{/login}">
          <button type="button">LogIn</button>
        </a>
      </td>
    </tr>
  </table>
  <p th:text="${error}"></p>
</form>
</body>
</html>
