<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
      <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
      <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>
<body>
      <div>
            <div th:text="${loc.getKey().localName()}"></div>
            <div th:text="${loc.getKey().state()}"></div>
            <div th:text="${loc.getKey().country()}"></div>
            <div></div>
            <div th:text="${loc.getValue().dt()}"></div>
            <div th:text="${loc.getValue().main().getTemp()}"></div>
            <div th:text="${loc.getValue().main().getPressure()}"></div>
            <div th:text="${loc.getValue().main().getHumidity()}"></div>
            <form th:action="@{/search}" method="post">
              <input type="hidden" name="latitude" th:value="${loc.getKey().latitude()}">
              <input type="hidden" name="longitude" th:value="${loc.getKey().longitude()}">
              <input type="submit" value="Add">
            </form>
      </div>
</body>
</html>
